<h1>Wordinator</h1>
<p>
  Welcome to the wordinator app. To use the app, type your command in the
  url followed by the words you want to analyze, separated by periods.
  For example, you could type:
</p>
<p>/palindrome/bub.computer.newb</p>
<p>Additional patterns you could try out:</p>

<ul>
  <li>/anagram/:word1/:word2</li>
  <li>/length/word1.word2.word3.etc</li>
</ul>
