<h1>Wordinator</h1>
<p>
  Welcome to the wordinator app. To use the app, type your command in the
  url followed by the word you want to analyze. For example, you could type:
</p>
<p>Some patterns you could try out:</p>

<ul>
  <li>/palindrome/:word</li>
  <li>/anagram/:word1/:word2</li>
  <li>/length/:word</li>
  <li>/capitalized/:word</li>
</ul>

<p>Note that although the anagram method must take two arguments, the
other methods can take any number (in practice, the app is currently
limited to three, so don't add any more!)</p>
